<div class="main-container">
  <div class="cards-container">
    <div class="row">
         <!-- card 1 -->
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 1</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 2</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 3</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 4</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 5</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 6</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 7</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 8</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 9</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <h1>TEAM 10</h1>
        </div>
      </div>

    </div>
  </div>

  <div id="map">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/kayak.jpg');">
    </div>

  </div>
</div>
